.occupationRadioButton{
    padding: 0 20px 40px 20px;
}

#alertRow{
    height: 50px;
    display: block;
}

#alertRow p{
    display: none;
}

#textAreaRow{
    padding-bottom: 25px;
}

.form-row{
    padding: 10px 0;
}