body{
    
}


.wrap{
    
}

.occupationRadioButton{
    padding: 0 20px 40px 20px;
}

#alertRow{
    height: 50px;
    display: block;
}

#alertRow p{
    display: none;
}

#textAreaRow{
    padding-bottom: 25px;
}

form{
    padding: 20px;
}

.form-row{
    
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

.wrapper{
    background: url(/images/achievement-activity-adolescent-347135.jpg);
}

.radio-section{
    
    
}
